<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color:blanchedalmond;">
    <h1 style="color:brown">pagina de inicio de la aplicacion calculadora</h1>
    <ul>
        <li>ir a la pagina sumar <a href="/suma?numero1=20&numero2=30"> ir</a></li>
        <li>ir a la pagina division piso <a href="/division_piso?numero1=2000&numero2=30"> ir</a></li>
        
    </ul>

</body>
</html>